
/* ==========================================================================
   Base styles:
   ========================================================================== */
/* Fix to include padding and border in the total width for each element */
* {
  box-sizing: border-box;
}

/* Fix for responsive images */
img {
  max-width: 100%;
  height: 500px;
}

body {
	color: #011B33;
	font-family: 'SF Pro Text';
	margin: 0;
	text-align: center;
}

.logo img {
	height: 150px;
	padding left: 10px;
	padding-bottom: 10px;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

 /*.col-1-3 {
	width: 33.333333%;
}*/

.nothing {
	height: 50px;
}

.model {
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	height: 500px;
	width: 100%;

	/*display: flex;*/
	flex-direction: column;
	justify-content: center;
	align-items: center;
} 

.model1 {
	background-image: url(../img/farBubz.jpg);
}

.model2 {
	background-image: url(../img/farGabs.jpg);
}

.model3 {
	background-image: url(../img/closeBubz.jpg);
}

nav {
	background-color: #011B33;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	position: fixed;
	top: 0;
	z-index: 1;
	box-shadow: 0 3px 11px rgba(0, 0, 0, .4);
	transition: all 300ms ease-out;
}

nav a {
	display: inline;
	font-size: 20px;
	color: #FFFFFF;
	
	text-decoration: none;
}


nav a:active {
	color: lightpink;
}

ul {
	margin: 0;
	padding-right: 75px;
}

li {
	display: inline-block;
	text-align: center;
	padding-left: 50px;
}

h2 {
	text-align: center;
	padding-bottom: 20px;
}

p {
	padding: 0px;
	font-weight: bolder;
}

#about {
	padding-top: 200px;
}

#step1, #step2, #step3 {
	padding-bottom: 70px;
	padding-top: 0px;
}

.step1 img, .step2 img, .step3 img {
	height: 150px;
	padding-bottom: 5px;
}

#contact {
	padding: 120px;
	padding-top: 200px;
}

form {
	padding-left: 350px;
}


input, textarea {
	border: 1px solid #011B33;
	display: block;
	margin-bottom: 10px;
	padding: 5px;
	width: 60%;
}

textarea:focus {
	outline: 2px solid lightpink;
	border: none;
}

input:focus {
	outline: 2px solid lightpink;
	border: none;
}


textarea {
	height: 100px;

}

footer {
	background-color: #011B33;
	color: white;
	padding: 20px;

}

.social-icons a {
	font-size: 30px;
	margin: 5px;
	color: white;
}

a:hover {
	color: lightpink;
}

.footer {
	font-weight: lighter;
}

/* ----------------------------------------
Buttons
------------------------------------------- */

button {
	display: block;
	background-color: lightpink;
	border-color: lightpink;
	color: white;
	padding: 10px;
	transition: all 0.5s ease;
	width: 40%;
	text-align: center;
}

button:hover {
	background-color: #011B33;
	border-color: #011B33;
	color: white;
	cursor: pointer;
}


label {
	font-family: 'SF Pro Text';
	font-weight: lighter;
	color: black;
	text-align: left;
	display: block;
	margin-bottom: 5px;
	color: #011B33;
}

@media screen and (max-width: 480px) {
	#contact {
		padding: 20px;
		padding-top: 150px;
	}

	#about {
		padding-top: 150px;
	}

	form {
		padding: 20px;
	}

	input, textarea {
		border: 1px solid #011B33;
		width: 100%;
	}

	nav {
		position: fixed;
		top: 0;
		z-index: 1;
		box-shadow: 0 3px 11px rgba(0, 0, 0, .4);
		transition: all 300ms ease-out;
	}

	nav a {
		display: inline;
		margin: 0;
		padding-left: 20px;
	}

	.logo img {
		height: 100px;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-right: 50px;
	}

	nav {
		padding-top: 0px;
		padding-bottom: 10px;
	}

	li {
		padding-top: 0px;
		padding-left: 10px;
		padding-right: 10px;
	}

	.model {
		height: 400px;
		background-attachment: scroll;
	}

	p {
		font-size: 14px;
	}

	h2 {
		font-size: 24px;
		padding-bottom: 5px;
		padding-left: 10px;
		padding-right: 10px;
	}

	h3 {
		font-size: 14px;
	}
}



